body {
    background-color: beige;
    color: black;
    text-align: center;
}

table {
    margin: auto;
    border: 2px solid;
}

.cell {
    height: 30px;
    width: 30px;
    background-color: grey;
    border-color: aqua;
    border-radius: 4px;
    text-align: center;
    text-indent: -9999px;
    cursor: pointer;
}

.cell:hover {
    background-color: goldenrod;
}

.smile {
    cursor: pointer;
}

.modal {
    display: none;
    margin: auto;
    width: 200px;
    height: 70px;
    color: black;
    font-size: 10px;
}

.restart-btn {
    margin-top: 20px;
    background-color: black;
    color: rgb(230, 221, 221);
    padding: 10px;
    cursor: pointer;
}