body {
    background-color: beige;
    color: black;
    text-align: center;
}

table {
    margin: auto;
    border: 2px solid;
}

.cell {
    height: 30px;
    width: 30px;
    background-color: rgb(96, 94, 94);
    border-color: aqua;
    border-radius: 4px;
    text-align: center;
    text-indent: -9999px;
    cursor: pointer;
}

.cell:hover {
    background-color: goldenrod;
}

.smile {
    cursor: pointer;
}

.modal {
    display: none;
    margin: auto;
    width: 200px;
    height: 70px;
    color: black;
    font-size: 10px;
}

.restart-btn {
    margin-top: 20px;
    background-color: black;
    color: rgb(230, 221, 221);
    padding: 10px;
    cursor: pointer;
}

.shown {
    background-color: grey;
}

.best {
    width: 300px;
    height: 150px;
    background-color: rgb(132, 162, 162);
    padding: 10px;
    border: 5px solid;
    margin: auto;
}

.beginner span {
    color: rgb(255, 217, 0);
    font-weight: bold;

}

.medium span {
    color: gold;
    font-weight: bold;
}

.expert span {
    color: gold;
    font-weight: bold;
}